@tailwind components;
@tailwind utilities;
@tailwind base;

@layer base {
    html {
        scroll-behavior: smooth;
    }

    .nav-item {
        @apply px-4 py-1.5 text-white/70 rounded-full text-sm font-semibold;
    }

    .nav-item:hover {
        @apply bg-white/10 text-white transition duration-300;
    }

    .hero-anillo {
        @apply absolute inset-0 border-2 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full border-emerald-500/5 shadow-[0_0_80px_inset] shadow-emerald-300/5;
    }

    .boton1:hover {
        @apply bg-white/10 transition duration-300 text-white backdrop-blur border border-white;
    }

    .boton2:hover {
        @apply bg-gray-900/10 transition duration-300 text-white/90 backdrop-blur;
    }


    @keyframes pulse-white {
        0% {
            transform: scale(0.95);
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
        }

        70% {
            transform: scale(1);
            box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
        }

        100% {
            transform: scale(0.95);
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
        }
    }


}